.clock {
  font-family: 'Play', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 5vw;
  color: #63ff0f;
  background-image: url('https://media.giphy.com/media/qhH06m3xA9QHK/200.gif');
  background-size: cover;
  background-position: center;
  flex-basis: auto;
  width: 50%;
}

.clock div {
  display: flex;
}

.clock div h1 {
  padding: 20px;
}
